<div class="container">
  <div class="col p-3">
    <h5>Book Your Bicycle</h5>
  </div>
  <div>
    <%= simple_form_for [@bicycle, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.submit 'Confirm Booking', class: 'btn btn-outline-primary' %>
    <% end %>
  </div>
</div>

