<div class="container">
  <div class="col p-3">
    <h2 class="d-flex justify-content-center">Book Your Bicycle</h2>
  </div>
  <div class="">
    <%= simple_form_for [@bicycle, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.submit 'Book', class: 'btn' %>
    <% end %>
  </div>
</div>

