<h2 class="d-flex justify-content-center mt-3">Details of your booking:</h2>
<div class="container d-flex justify-content-around">
  <div class="card-booking-info">

     <div class="card">
      <p><%= @booking.start_date %> <%= @booking.end_date %></p>
    </div>
     <div class="card">
      <p><%= @booking.total_price %></p>
    </div>
      <button id="confirm-booking" class="btn">Confirm!</button>
  </div>

  <div class="card-booking">
    <% @booking.bicycle.photos.each do |photo| %>
    <%= cl_image_tag photo.key %>
    <% end %>
      <n> </n>
    </%>
  </div>
</div>
