<h2 class="d-flex justify-content-center mt-3">Details of your booking:</h2>
<div class="container d-flex justify-content-around">
  <div class="card-booking-info">

     <div class="card">
      <h4><%= @booking.start_date %> <%= @booking.end_date %></h4>
    </div>
     <div class="card p-2 w-100 bd-highlight">
      <h4><%= @booking.total_price %></h4>
    </div>
      <button class="btn"type="button">confirm</button>
  </div>

  <div class="card-booking">
    <% @booking.bicycle.photos.each do |photo| %>
    <%= cl_image_tag photo.key %>
    <% end %>
      <n> </n>
    </%>
  </div>
</div>
