<div class="container wrapper">
  <div class="row mt-5">
    <div class="col-7">
      <div class="card-trip mt-4 ">
        <% @bicycle.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill%>
        <% end %>
      </div>
    </div>
    <div class="col-5 border rounded" style="margin-top: 24px">
      <% if @bicycle.user = current_user %>
      <div class="booking-success" style="position: absolute; top: 50%; left: 15%; margin: 0;">
        <%= "You have successfully listed your bicycle!" %>
      </div>
      <% else %>
        <%= render 'bookings/booking-form' %>
      <% end %>
    </div>
  </div>
        <div class="card-header-table mt-3 border" style="background-color: white; width: 1125px; ">
          <table>
              <tbody>
               <th scope="row">Description:</th>
                <td><%= @bicycle.description %></td>
              </tr>
              </tbody>
          </table>
        </div>
      </div>

