<div class="banner" style="background-image: url(<%= image_path('homepage_pic.jpg') %>">
    <div class="search-form" >
    <div class= "header">
    <h1>Book any bike you like</h1>
    </div>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <div class="btn btn-flat">
         <%= link_to "Search", bicycles_path, class: "no-underline" %> <i class="fas fa-search"> </i>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- to copy paste after background image to darken the image for the form
linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) -->

