<div class="banner" style="background-image: url(<%= image_path('homepage_pic.jpg') %>">
    <h1>Book any bike you like</h1>
<!--   <div class="container">
    <a class="btn btn-flat" href="#">Apply now</a>
  </div> -->
</div>

<!-- to copy paste after background image to darken the image for the form
linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) -->

