<div class="banner" style="background-image: url(<%= image_path('homepage_pic2.jpg') %>);" width: 100%>
  <div class="search-form" >
    <div class= "header">
      <h1>Book Any Bike You Like</h1>
    </div>
    <%= form_tag bicycles_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control main-search",
      placeholder: "Search an area in Tokyo" %>
    <% end %>
  </div>
</div>

<!-- to copy paste after background image to darken the image for the form
linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) -->

