.btn{
  margin-top: 32px;
  width:450px;
  height:55px;
  background-color: #F99C54;
}
.btn-confirmation {
  margin-top: 32px;
  width:450px;
  height:55px;
  background-color: #F99C54;
}
.btn-bike-descri{
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 16px;
  width:400px;
  height:55px;
  background-color: #F99C54;
}
.btn-p{
  margin-top: 32px;
  width:413px;
  height:55px;
  background-color: #F99C54;
  border: none;
  border-radius: 4px;
}
