.navbar-lewagon {
  justify-content: space-between;
  background-color: #5F74B7;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}
.nav-link.nav-link {
  color: white !important;
  display: flex;
  justify-content: center;
}
